{% set images = fields.images %}
{% set settings = fields.settings %}
{% set ratio_w,ratio_h = settings.ratio_width,settings.ratio_height %}

<div itemscope
     itemtype="http://schema.org/ImageGallery"
     class="{{ block.id }} photoswipe masonry">
    {% for image in images %}
        {% set portrait = image.height > image.width %}
        {% set mainRatio = ratio_w and ratio_h ? ratio(ratio_w, ratio_h, portrait) : 3 / 2 %}
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="{{ image.url }}"
               itemprop="contentUrl"
               data-size="{{ image.width }}x{{ image.height }}"
               class="item">
                <picture>
                    {% for size in settings.sizes %}
                        {% set ratio = size.ratio.w and size.ratio.h ? ratio(size.ratio.w, size.ratio.h, portrait) : mainRatio %}
                        {% set width, height = size.width, size.width | heightByRatio(ratio) %}
                        <source media="({{ size.media }})" data-srcset="{{ srcset( image.url, width, height, size.dpr ) }}">
                    {% endfor %}
                    {% set width = settings.width ? settings.width : image.width %}
                    {% set height = width | heightByRatio(mainRatio) %}

                    <img src="{{ placeholder(width, height) }}"
                         data-src="{{ resize(image.url, width, height) }}"
                        {% if fields.dpr %}
                            data-srcset="{{ srcset(image.url, width, height, settings.dpr) }}"
                        {% endif %}
                         class="w-full lazyload translate3d"
                         width="{{ width }}"
                         height="{{ height }}"
                         alt="{{ image.alt ? image.alt : image.title }}"
                    />
                </picture>
                {% if thumb.caption %}
                    <span itemprop="name">{{ thumb.title }}</span>
                {% else %}
                    <span class="zoom"></span>
                {% endif %}
            </a>
        </figure>
    {% endfor %}
</div>
{% include root_el %}

