<div class="{{ block.id }} px-6 lg:px-0" style="overflow: hidden; position: relative; width: 100%">
    <div class="swiper-wrapper">
        {% for slide in fields.slides %}
            {% set portrait = slide.width < slide.height %}
            {% set ratio = 2/3 %}

            {% set width = 414 %}
            {% set height = portrait ? (width / ratio)| round : (width * ratio) | round %}

            {% set widthMd = 600 %}
            {% set heightMd = portrait ? (widthMd / ratio) | round : (widthMd * ratio) | round %}

            {% set heightLg = 600 %}
            {% set widthLg = portrait ?  (heightLg * ratio) | round : (heightLg / ratio) | round %}

            <div class="swiper-slide pb-4">
                <picture>
                    <source
                        media="(min-width: 1024px)"
                        srcset="
                            {{ resize(slide.url, widthLg, heightLg) }},
                            {{ resize(slide.url,widthLg*2, heightLg*2) }} 2x,
                            {{ resize(slide.url,widthLg*3, heightLg*3) }} 3x
                        "
                    >
                    <source
                        media="(min-width: 768px)"
                        srcset="
                            {{ resize(slide.url, widthMd, heightMd) }},
                            {{ resize(slide.url, widthMd*2, heightMd*2) }} 2x,
                            {{ resize(slide.url, widthMd*3, heightMd*3) }} 3x
                        "
                    >
                    <img src="{{ resize(slide.url, width, height) }}"
                         srset="{{ resize(slide.url, width*2, height*2) }} 2x"
                         class="w-full h-auto"
                         alt="{{ alt }}"
                         width="{{ widthMd }}"
                         height="{{ heightMd }}"/>
                </picture>
            </div>
        {% endfor %}
    </div>
    {% include 'partials/arrow-button.twig' with {class: 'arrow-next'} %}
    {% include 'partials/arrow-button.twig' with {classes: 'arrow-prev'} %}
</div>
