{% set typeClass = block.align == 'wide' ? 'mx-auto container px-8' : '' %}
<div class="swiper-wrap relative {{ typeClass }}">
    {% include stylesPath %}
    <div class="{{ block.id }} overflow-hidden">
        <div class="swiper-wrapper">
            {% for slide in fields.slides %}
                {% set mainRatio = fields.ratio_w and fields.ratio_h ? fields.ratio_w / fields.ratio_h : 2 / 3 %}
                <div class="swiper-slide flex justify-center {{ fields.slide_class }}">
                    <picture>
                        {% for size in fields.sizes %}
                            {% set ratio = size.ratio.w and size.ratio.h ? size.ratio.w / size.ratio.h  : mainRatio %}
                            {% set width, height = size.width, size.width | heightByRatio(ratio) %}
                            <source media="({{ size.media }})" data-srcset="{{ srcset( slide.url, width, height, size.dpr ) }}">
                        {% endfor %}
                        {% set width = fields.width ? fields.width : slide.width %}
                        {% set height = width | heightByRatio(mainRatio) %}

                        <img src="{{ placeholder(width, height) }}"
                             data-src="{{ resize(slide.url, width, height) }}"
                            {% if fields.dpr %}
                                data-srcset="{{ srcset(slide.url, width, height, fields.dpr) }}"
                            {% endif %}
                             class="w-full lazyload translate3d"
                             width="{{ width }}"
                             height="{{ height }}"
                             alt="{{ alt }}"
                        />
                    </picture>
                </div>
            {% endfor %}
        </div>
        {% set width,height = '50px','50px' %}
        {% include 'partials/button-arrow.twig' with {width, height, class: 'swipe-arrows swiper-left border-0', direction: 'left'} %}
        {% include 'partials/button-arrow.twig' with {width, height, class: 'swipe-arrows swiper-right border-0', direction: 'right'} %}
    </div>
</div>
